/*!slider start */
.slider-items {
    position: relative;
    height: auto;

}

.slider-wrapper {
    width: 100%;
    margin-top: 8%;

}

.slider-img img {
    z-index: -5;
    max-width: 100%;
    object-fit: cover;
    object-position: 60%;
    height: 80vh;
}



.slider-slogan {
    position: absolute;
    top: 50%;

}



.dots {
    position: absolute;
    top: 85%;
    left: 50%;
    z-index: 1;
    font-size: 60px;
    font-weight: 700;
    color: #1367ef;
    letter-spacing: -10px;
    cursor: pointer;

}

.dots .dot {
    opacity: 0.5;
}

.dot:hover {
    opacity: 1;
}

.dots .active {
    opacity: 1;
    transition: 0.2s ease opacity;
}

.slider-button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    padding: 10px;

}

.slider-button button {
    border: 1px solid #dee0ea;
    background-color: white;
    border-radius: 100%;
    font-size: 20px;
    width: 60px;
    height: 60px;
    opacity: 0.5;
}

.slider-button button:hover {
    opacity: 1;
    background-color: #1367ef;
    color: white;
}



.slider-title {
    font-size: 18px;
    font-weight: 500;
}

.slider-head {
    font-size: 60px;
    font-weight: 600;
}

/*!slider end */