/*! bucket-start  */

.bucket-wrapper {
    margin-top: 10%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.bucket-wrapper .card-products {
    width: 60%;
}

.bucket-wrapper .card-products .fee-progress-bar {
    border: 1px solid #dee0ea;
    padding: 20px;
    position: relative;
}

.bucket-wrapper .card-products .fee-progress-bar p strong {
    color: #ee403d;

}

.bucket-wrapper .card-products .fee-progress-bar p {
    font-size: 12px;
}

.bucket-wrapper .card-products .fee-progress-bar .progress-bar {
    width: 100%;
    background-color: #dee0ea;
    height: 6px;
    opacity: 1;
    border-radius: 10px;
    margin-top: 10px;
}

.bucket-wrapper .card-products .fee-progress-bar .progress-bar span {

    z-index: 5;
    background-color: red;
    width: 0%;
    height: 6px;
    display: inline-block;
    position: absolute;
    border-radius: 10px;


}

.bucket-wrapper .card-cost {
    border: 1px solid #dee0ea;
}


.bucket-wrapper .card-products-content thead th {

    font-size: 12px;
    text-align: left;
    font-weight: 600;
    padding: 5px;
}

.bucket-wrapper .card-products-content table {
    margin-top: 40px;
    width: 100%;

    border-collapse: collapse;
    font-size: 14px;
    column-gap: 15px;
}

.bucket-wrapper .card-products-content tbody {

    border-top: 1px solid #dee0ea;
    position: relative;


}


.bucket-wrapper .card-image img {
    width: 60px;
    margin-top: 5px;
}

.bucket-wrapper .card-image {
    position: relative;
}

.bucket-wrapper .bi-x {

    display: flex;
    z-index: 2;
    position: absolute;
    left: 0%;
    top: 0;
    color: white;
    width: 16px;
    height: 16px;

    border: 1px solid #ee403d;
    border-radius: 100%;
    background-color: red;
    cursor: pointer;

}

.card-cost {
    width: 30%;
    padding: 30px;
}

.card-cost h4 {
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #dee0ea;
}

.card-cost table {
    width: 100%;
}

.card-cost table th {

    text-align: start;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
}

.card-cost table td span {
    font-size: 12px;
}

.card-cost table tr {

    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee0ea;
    padding: 20px 0;
}


.shipbutton {
    border: none;
    width: 100%;
    margin-top: 10%;
    background-color: red;
    color: white;
}

/*! bucket-end  */