/*! map-start  */
.map-wrapper {
    height: 90vh;
}

/*! map-end  */


/*! contact-from-start  */
.contact-bottom-wrapper {
    margin-top: 40px;
}

.contact-head h4 {
    color: #e51414;
    font-weight: 500;
}

.contact-head h2 {
    font-size: 40px;
    font-weight: 600;
}

.contact-body {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 50px;
}

.contact-body .contact-info {
    width: 50%;
}

.contact-body form {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    row-gap: 10px;
}

.contact-body form div span {
    color: #e51414;
}


.contact-body form .name {

    font-size: 14px;
    row-gap: 4px;
    display: flex;
    flex-direction: column;
    flex-basis: 45%;

}

.contact-body form .email {

    font-size: 14px;
    row-gap: 4px;
    display: flex;
    flex-direction: column;
    flex-basis: 45%;

}

.contact-body form .subject {

    font-size: 14px;
    row-gap: 4px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

}

.contact-body form .message {

    font-size: 14px;
    row-gap: 4px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

}

.contact-body form .message textarea {
    outline: none;
    border: 1px solid #dee0ea;
}

.contact-body form .form-button button {
    outline: none;
    border: none;
    background-color: black;
    color: #fff;
    width: 150px;
}

.contact-news {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 5px;
}

.contact-news strong {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact-news p {
    font-size: 12px;
}

.contact-news a {
    font-size: 12px;
}

/*! contact-from-end  */