/*!product-content-start  */

.product-wrapper .product-categori {
    display: flex;
    margin-top: 15%;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.8;
    gap: 5px;
}

.product-wrapper .product-categori a:hover {
    color: #1367ef;

}

.product-wrapper .products-content {
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
}

.product-wrapper .products-content .img-content {
    width: 50%;
}

.product-wrapper .products-content .info-content {
    width: 48%;

}

.product-wrapper .products-content .info-content h4 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 6px;
}

.product-wrapper .products-content .info-content .reviews-detail i {
    color: gold;
    font-size: 12px;
    letter-spacing: -5px;

}



.product-wrapper .products-content .info-content .reviews-detail span {

    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;

}


.product-wrapper .products-content img {
    width: 100%;
}

.product-wrapper .products-content .info-content .price-details {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-wrapper .products-content .info-content .price-details .curr-price {
    font-size: 18px;
}

.product-wrapper .products-content .info-content .price-details .last-price {
    text-decoration: line-through;
    font-size: 18px;
    color: #dee0ea;
}

.product-wrapper .products-content .info-content p {
    font-size: 14px;
    line-height: 1.1;
}

.product-wrapper .products-content .info-content .product-size {
    margin-bottom: 10px;
    margin-top: 20px;

}

.product-wrapper .products-content .info-content .product-size strong {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.product-wrapper .products-content .info-content .product-size button {
    width: 19%;
    border: 1px solid #dee0ea;
    height: 40px;
    color: black;
    margin-left: 1px;
    background-color: #fff;
}

.product-wrapper .products-content .info-content .product-size button:hover {
    color: #fff;
    background-color: red;
    border: 1px solid red;
}

.product-wrapper .products-content .info-content .product-size button.active {
    color: #fff;
    background-color: red;
    border: 1px solid red;
}

.product-wrapper .products-content .info-content .product-number input {
    width: 12%;
    height: 46px;
    margin-right: 5px;

}

.product-wrapper .products-content .info-content .product-number button {
    width: calc(88% - 11px);
}


.product-wrapper .products-content .info-content .product-icon {
    display: flex;
    opacity: 0.6;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #dee0ea;

}

.product-wrapper .products-content .small-img {
    width: 20%;
    display: flex;
    gap: 20px;
}

.product-wrapper .products-content .small-img img:hover {
    scale: 1.1;
}

.product-wrapper .products-content .small-img .active-small {
    border: 1px solid black;
}

.product-wrapper .products-content .info-content .product-icon a {
    margin-right: 15px;

}

.product-wrapper .products-content .info-content .product-info {

    font-size: 12px;
}



/*!product-content-end  */